### IDE Files
.idea/
.vscode/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

ground_truth/images/Stacked_images/89_5.png
ground_truth/images/Stacked_images/90_5.png
ground_truth/images/Stacked_images/91_5.png
ground_truth/images/Stacked_images/92_5.png
ground_truth/images/Stacked_images/93_5.png
ground_truth/images/Stacked_images/94_5.png
ground_truth/images/Stacked_images/95_5.png
ground_truth/images/Stacked_images/96_5.png
ground_truth/images/Stacked_images/97_5.png
ground_truth/images/Stacked_images/98_6.png
ground_truth/images/Stacked_images/99_6.png
ground_truth/images/Stacked_images/100_6.png
Palmira_pb/config.yaml
Palmira_pb/events.out.tfevents.1626778155.gnode25.9266.0
Palmira_pb/events.out.tfevents.1626787386.gnode52.19212.0
Palmira_pb/last_checkpoint
Palmira_pb/log.txt
Palmira_pb/metrics.json
Palmira_pb/model_0000999.pth
Palmira_pb/model_0001999.pth
Palmira_pb/model_0002999.pth
Palmira_pb/model_0003999.pth
Palmira_pb/model_0004999.pth
Palmira_pb/model_0005999.pth
Palmira_pb/model_0006999.pth
Palmira_pb/model_0007999.pth
Palmira_pb/model_0008999.pth
Palmira_pb/model_0009999.pth
Palmira_pb/model_final.pth
Palmira_pb/inference/coco_instances_results_pb.json
Palmira_pb/inference/indiscapes_val_coco_format.json
Palmira_pb/inference/indiscapes_val_coco_format.json.lock
Palmira_pb/inference/instances_predictions_pb.pth
Palmira_pb/qualitative2/images_ASR_Images_B02-S10-207.jpg
Palmira_pb/qualitative2/images_google_scraped_216_3.jpg
Palmira_pb/qualitative2/images_google_scraped_220_6.jpg
Palmira_pb/qualitative2/images_google_scraped_223_2.jpg
Palmira_pb/qualitative2/images_google_scraped_243_2.jpg
Palmira_pb/qualitative2/images_google_scraped_256_4.jpg
Palmira_pb/qualitative2/images_google_scraped_270_3.jpg
Palmira_pb/qualitative2/images_google_scraped_300_2.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_12_3.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_15_3.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_18_3.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_19_4.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_40_3.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_42_3.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_112_4.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_124_4.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_126_3.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_153_1.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_157_1.jpg
Palmira_pb/qualitative2/images_Jain_manuscripts_187_1.jpg
Palmira_pb/qualitative2/images_penn_in_hand_334.jpg
Palmira_pb/qualitative2/images_penn-in-hand_76.jpg
Palmira_pb/qualitative2/images_penn-in-hand_502.jpg
Palmira_pb/qualitative2/pdf_images_59C_59C198_1.jpg
Palmira_pb/qualitative2/pdf_images_59C_59C302_1.jpg
Palmira_pb/qualitative2/pdf_images_60B_60B93_1.jpg
Palmira_pb/qualitative2/pdf_images_60B_60B239_1.jpg
Palmira_pb/qualitative2/pdf_images_60B_60B247_1.jpg
Palmira_pb/qualitative2/pdf_images_60B_60B351_1.jpg
Palmira_pb/qualitative2/pdf_images_60B_60B438_1.jpg
Palmira_pb/qualitative2/pdf_images_BP_BP_19_1.jpg
Palmira_pb/qualitative2/pdf_images_KT_KT_49_1.jpg
Palmira_pb/qualitative2/pdf_images_MP_MP_0_1.jpg
outputs/Palmira/config.yaml
outputs/Palmira/log.txt
outputs/Palmira/inference/coco_instances_results.json
outputs/Palmira/inference/indiscapes_test_coco_format.json
outputs/Palmira/inference/indiscapes_test_coco_format.json.lock
outputs/Palmira/inference/indiscapes_val_coco_format.json
outputs/Palmira/inference/indiscapes_val_coco_format.json.lock
outputs/Palmira/inference/instances_predictions.pth
outputs/Palmira/inference/qualitative/images_ASR_Images_B02-S10-207.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_216_3.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_220_6.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_223_2.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_243_2.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_256_4.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_270_3.jpg
outputs/Palmira/inference/qualitative/images_google_scraped_300_2.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_12_3.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_15_3.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_18_3.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_19_4.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_40_3.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_42_3.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_112_4.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_124_4.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_126_3.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_153_1.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_157_1.jpg
outputs/Palmira/inference/qualitative/images_Jain_manuscripts_187_1.jpg
outputs/Palmira/inference/qualitative/images_penn_in_hand_334.jpg
outputs/Palmira/inference/qualitative/images_penn-in-hand_76.jpg
outputs/Palmira/inference/qualitative/images_penn-in-hand_502.jpg
outputs/Palmira/inference/qualitative/pdf_images_59C_59C198_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_59C_59C302_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_60B_60B93_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_60B_60B239_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_60B_60B247_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_60B_60B351_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_60B_60B438_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_BP_BP_19_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_KT_KT_49_1.jpg
outputs/Palmira/inference/qualitative/pdf_images_MP_MP_0_1.jpg
outputs/Palmira/validation/12_3.jpg
outputs/Palmira/validation/15_3.jpg
outputs/Palmira/validation/18_3.jpg
outputs/Palmira/validation/19_4.jpg
outputs/Palmira/validation/40_3.jpg
outputs/Palmira/validation/42_3.jpg
outputs/Palmira/validation/59C198_1.jpg
outputs/Palmira/validation/59C302_1.jpg
outputs/Palmira/validation/60B239_1.jpg
outputs/Palmira/validation/60B340_1.jpg
outputs/Palmira/validation/60B386_1.jpg
outputs/Palmira/validation/112_4.jpg
outputs/Palmira/validation/124_4.jpg
outputs/Palmira/validation/126_3.jpg
outputs/Palmira/validation/153_1.jpg
outputs/Palmira/validation/157_1.jpg
outputs/Palmira/validation/187_1.jpg
outputs/Palmira/validation/216_3.jpg
outputs/Palmira/validation/220_6.jpg
outputs/Palmira/validation/223_2.jpg
outputs/Palmira/validation/256_4.jpg
outputs/Palmira/validation/260_7.jpg
outputs/Palmira/validation/270_3.jpg
outputs/Palmira/validation/300_2.jpg
outputs/Palmira/validation/B02-S10-207.jpg
outputs/Sample/26_3.jpg
outputs/Sample/27_3.jpg
outputs/Sample/28_3.jpg
outputs/Sample/29_3.jpg
outputs/Sample/30_3.jpg
outputs/Sample/31_3.jpg
outputs/Sample/32_3.jpg
outputs/Sample/33_3.jpg
outputs/Sample/34_3.jpg
outputs/Sample/35_4.jpg
outputs/Sample/36_4.jpg
outputs/Sample/37_4.jpg
outputs/Sample/118_6.jpg
outputs/Sample/121_6.jpg
outputs/Sample/191_8.jpg
outputs/Sample/192_8.jpg
outputs/Sample/368_8.jpg
outputs/Sample/369_8.jpg
outputs/Sample/371_8.jpg
outputs/Sample/372_8.jpg
outputs/Sample/383_4.jpg
outputs/Sample/384_4.jpg
outputs/Sample/391_10.jpg
outputs/Sample/392_10.jpg
outputs/Sample/396_10.jpg
outputs/Sample/397_10.jpg
outputs/doc_pb/test/via_region_data.json
outputs/doc_pb/train/via_region_data.json
outputs/doc_pb/val/temporary.json
outputs/doc_pb/val/via_region_data.json
